 .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px
    }
.link {
    text-decoration: none;
    color: #052C65;
    font-size: 19px;
}
.icon {
    color: #052C65;
}
.background {
    background-color: #DEE2E6;
    height:100vh;
    margin-top: -22px;
}

.linha {
    padding-top: 10px;
}